body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 2rem;

}



h1 {
    text-align: center;
    color: red;
    margin: 0.5rem 0 1.5rem 0; /* Traz o h1 bem para cima */
    font-size: 3rem;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.alerta {
    background-color: #ff5555;
    color: #fff;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

canvas {
    width: 100% !important;
    max-height: 150px;
}

.botoes {
    text-align: center;
    margin-bottom: 2rem;
}

button {
    background-color: #00d1b2;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #00a896;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -2rem;
}

.logo {
    width: 200px;
    height: auto;
    margin: 1rem;
}

.logo.direita {
    float: right;
}

.logo.esquerda {
    float: left;
}